*{
  font-family: sans-serif;
}

p{
  font-size: 1em;
  padding: 10px;
}

button img{
  width: 50%;
}

#saveForLater{
  position: fixed;
  padding: 10px;
  font-size: 11px;
  background-color: red;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  box-shadow: none;
  border-radius: 50%;
  border-style: none;
}

#saveForLater.scrolling {
  background-color: lime;
}
