#saveForLater{
  position: fixed;
  padding: 10px;
  font-size: 1.5em;
  background-color: red;
  bottom: 50px;
  right: 50px;
}

#goToSaved{
  position: fixed;
  padding: 10px;
  font-size: 1.5em;
  background-color: red;
  bottom: 200px;
  right: 50px;
  display: none;
}
